In [1]:
# building classifiers and ml dl models
from sklearn.ensemble import RandomForestClassifier
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import numpy as np

from pandas import read_csv
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten, Conv3D, MaxPooling3D, Dropout, SpatialDropout3D,LeakyReLU
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

from tensorflow.keras.utils import to_categorical
from sklearn.metrics import accuracy_score, precision_recall_fscore_support, roc_auc_score

import tensorflow as tf
from sklearn.metrics import classification_report, confusion_matrix, plot_confusion_matrix, ConfusionMatrixDisplay
# from sklearn.metrics import 
import plotly.express as px

In [7]:
import pandas as pd

In [4]:
model = tf.keras.models.load_model('./models/age_gender.h5')

In [8]:
favAd = pd.read_csv('favAd.csv')

In [9]:
favAd.head()

                  userId   ad  age  gender
0          vihan_22_male  0.0    1       1
1       Rashmika_23_male  0.0    1       1
2          dylon_20_male  0.0    1       1
3  geethanjali_41_female  1.0    2       0
4         Sajith_28_male  0.0    1       1

In [12]:
x=favAd[['age', 'gender']].values

In [13]:
y=favAd['ad'].values

In [17]:
pred = model.predict(x)

In [20]:
arr = pred.argmax(1)

In [23]:
print(int(sum(arr/len(arr))))

0